<div class="flex">
  <div class="roomTab">
    <div class="upperRow">
      <a class="title link" [routerLink]="['/add-room']">
        Add Room <img src="../assets/AddComponent.svg" alt="">
      </a>
    </div>
    <div class="middleRow">
      <a class="link" [routerLink]="['/add-room']">
        Click to add a room.
        <div class="icon"><img src="../assets/Arrow.svg" alt=""></div>
      </a>
    </div>
  </div>

  <div class="roomTab">
    <div class="upperRow">
      <a class="title link" [routerLink]="['/room-list']">
        View Rooms <img src="../assets/Arrow.svg" alt="">
      </a>
    </div>
    <div class="middleRow">
      <a class="link" [routerLink]="['/room-list']">
        Click to view all rooms.
        <div class="icon"><img src="../assets/Arrow.svg" alt=""></div>
      </a>
    </div>
  </div>
</div>
