<style>

  .controlButton.valueContainer .upperRow{
      justify-content: end;
  }

  .controlButton.valueContainer .middleRow{
    flex: 1 0 auto;
    text-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .controlButton.addDevice{
display: flex;
flex-direction: column;
width: 15rem;
height: 16.9rem;
padding: 0.75rem 1.5rem;
border-radius: 1.5vw;
background-color: #242424;
} 


  .controlButton.valueContainer .middleRow .number{
    font-size: 7.2rem;      
  }

  .controlButton.valueContainer .bottomRow .description{
    font-size: 1.2rem;
    margin: 0.25rem;   
    opacity: 0.5;   
  }

  .controlButton.addDevice:hover{
    filter: invert(00%) !important;
  }

  .controlButton.addDevice .middleRow{
    display: flex;
    flex-wrap: wrap;
  }

  .controlButton.addDevice .middleRow .addDeviceButton{

    background-color: red ;

    width: 6rem;
    height: 6rem; 

    margin: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-wrap: break-word;
    font-size: 1.25rem;

    box-shadow: #fff;
    text-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.25);
    text-align: center;
    border-radius: 0.5rem;
    background-color: #191919;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .controlButton.addDevice .middleRow .addDeviceButton:hover {
    text-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.75);
  }

  .controlButton.addDevice .middleRow .addDeviceButton img {
    height: 5rem;
  }

  .controlButton .middleRow .addDeviceButton:hover, .controlButton .middleRow .addDeviceButton img:hover{
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.3));
  }

  .controlButton{
  position: relative;
  margin: 0 0 2rem 2rem !important;
}


.controlButton.addDevice .middleRow {
    flex: 1 0 auto;
    text-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

</style>

<!-- Buttons to Add Devices-->

<div class="controlButton addDevice">
<div class="middleRow">
<div class="addDeviceButton" type="button" (click)="addLightButton()"> 
  <img src="../assets/Bulb.svg" alt="">
</div>
<div class="addDeviceButton" type="button" (click)="addFanButton()">
  <img src="../assets/Fan.svg" alt="">
</div>
<div class="addDeviceButton" type="button" (click)="addDoorButton()">
  <img src="../assets/Door.svg" alt="">
</div>
<div class="addDeviceButton" type="button" (click)="addWindowButton()">
  <img src="../assets/Window.svg" alt="">
</div>
</div>
</div>



<!--
<div class="roomTab">
      <div class="upperRow">
          <div class="inputField">
              <h1>Update {{room.name}}:</h1>
          </div>
      </div>
      
      <div class="middleRow">
        <div class="flex-column">
          <label for="name">Room name</label>
          <input type="text" id="name" [(ngModel)]="room.name" [value]="room.name">
        </div>
        <div class="flex-column">
          <label for="name">Room size</label>
          <input type="number" id="size" [(ngModel)]="room.size"  [value]="room.size">
        </div>
         
      </div>
     <div class="bottomRow">

    </div>
  </div>
<div class="roomTab">
  <h1>Update {{room.name}}:</h1>
  <div class="room_form">
    <div class="flex-column flex-gap">
      <h2>Room meta data</h2>
      <div class="flex-column">
        <label for="name">Room name</label>
        <input type="text" id="name" [(ngModel)]="room.name" [value]="room.name">
      </div>
      <div class="flex-column">
        <label for="name">Room size</label>
        <input type="number" id="size" [(ngModel)]="room.size"  [value]="room.size">
      </div>
    </div>

    <div>
      <h2>Doors: </h2>
      <div class="flex-column flex-gap">
        <label for="name">Add new Door</label>
        <div>
          <label>Open</label><input type="radio" [(ngModel)]="door.open" [value]="true">
        </div>
        <div>
          <label>Closed</label><input type="radio" [(ngModel)]="door.open" [value]="false">
        </div>
        <button type="button" (click)="addDoor()">Add Door</button>
      </div>

      <div *ngIf="room.doors.length > 0">
        <h3>Update Doors: </h3>
        <div *ngFor="let d of room.doors; let i = index">
          <p>Door {{i + 1}}, open: {{d.open}}</p>
          <div>
            <label>Open</label><input type="radio" [(ngModel)]="room.doors[i].open" [value]="true">
          </div>
          <div>
            <label>Closed</label><input type="radio" [(ngModel)]="room.doors[i].open" [value]="false">
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2>Windows: </h2>
      <div class="flex-column flex-gap">
        <label for="name">Add new Window</label>
        <div>
          <label>Open</label><input type="radio" [(ngModel)]="window.open" [value]="true">
        </div>
        <div>
          <label>Closed</label><input type="radio" [(ngModel)]="window.open" [value]="false">
        </div>
        <button type="button" (click)="addWindow()">Add Window</button>
      </div>

      <div *ngIf="room.roomWindows.length > 0">
        <h3>Update Windows: </h3>
        <div *ngFor="let w of room.roomWindows; let i = index">
          <p>Window {{i + 1}}, open: {{w.open}}</p>
          <div>
            <label>Open</label><input type="radio" [(ngModel)]="room.roomWindows[i].open" [value]="true">
          </div>
          <div>
            <label>Closed</label><input type="radio" [(ngModel)]="room.roomWindows[i].open" [value]="false">
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2>Lights: </h2>
      <div class="flex-column flex-gap">
        <label for="name">Add new Light</label>
        <div>
          <label>On</label><input type="radio" [(ngModel)]="light.on" [value]="true">
        </div>
        <div>
          <label>Off</label><input type="radio" [(ngModel)]="light.on" [value]="false">
        </div>
        <button type="button" (click)="addLight()">Add Light</button>
      </div>

      <div *ngIf="room.lights.length > 0">
        <h3>Update Lights: </h3>
        <div *ngFor="let l of room.lights; let i = index">
          <p>Light {{i + 1}}, on: {{l.on}}</p>
          <div>
            <label>On</label><input type="radio" [(ngModel)]="room.lights[i].on" [value]="true">
          </div>
          <div>
            <label>Off</label><input type="radio" [(ngModel)]="room.lights[i].on" [value]="false">
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2>Fans: </h2>
      <div class="flex-column flex-gap">
        <label for="name">Add new Fan</label>
        <div>
          <label>On</label><input type="radio" [(ngModel)]="fan.on" [value]="true">
        </div>
        <div>
          <label>Off</label><input type="radio" [(ngModel)]="fan.on" [value]="false">
        </div>
        <button type="button" (click)="addFan()">Add Fan</button>
      </div>


      <div *ngIf="room.fans.length > 0">
        <h3>Update Fans: </h3>
        <div *ngFor="let f of room.fans; let i = index">
          <p>Fan {{i + 1}}, on: {{f.on}}</p>
          <div>
            <label>On</label><input type="radio" [(ngModel)]="room.fans[i].on" [value]="true">
          </div>
          <div>
            <label>Off</label><input type="radio" [(ngModel)]="room.fans[i].on" [value]="false">
          </div>
        </div>
      </div>
    </div>

    <button type="button" (click)="updateRoom()">Update Room</button>
  </div>
</div>
-->

